<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
  <title>Open eyes App</title>
</head>

<body>
  <div class="wrapper">
    <div id="wizard" class="wizard">
      <div class="wizard__content">
        <header class="wizard__header">
          <div class="wizard__header-overlay"></div>

          <div class="wizard__header-content">
            <h1 class="wizard__title" >Open eyes using Deep Learning</h1>
            <p class="wizard__subheading">Start with <span>3</span> simple steps.</p>
          </div>

          <div class="wizard__steps">
            <nav class="steps">
              <div class="step -active">
                <div class="step__content">
                  <p class="step__number"><i class="fas fa-grin-beam"></i></p>
                  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                  </svg>

                  <div class="lines">
                    <div class="line -start">
                    </div>

                    <div class="line -background">
                    </div>

                    <div class="line -progress">
                    </div>
                  </div>
                </div>
              </div>

              <div class="step">
                <div class="step__content">
                  <p class="step__number"><i class="fa fa fa-eye"></i></p>
                  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                  </svg>

                  <div class="lines">
                    <div class="line -background">
                    </div>

                    <div class="line -progress">
                    </div>
                  </div>
                </div>
              </div>

              <div class="step">
                <div class="step__content">
                  <p class="step__number"><i class="fa fa-group"></i></p>
                  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                  </svg>

                  <div class="lines">
                    <div class="line -background">
                    </div>

                    <div class="line -progress">
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </header>


        <form id="wizard" action="/upload" method="POST" class="panels">
          <div class="panel">
            <header class="panel__header">
              <h2 class="panel__title">Pick your closed eyes picture 😽</h2>
            </header>

            <div id="input-image" class="file-upload">
              <div class="image-upload-wrap">
                <input class="file-upload-input" type='file' onchange="readPictureURL(this, 'input-image');" accept="image/*" />
                <div class="drag-text">
                  <p>Drag and drop a file or click to add image</p>
                </div>
              </div>
              <div class="file-upload-content">
                <img class="file-upload-image" src="#" alt="Your closed eyes picture" />
                <div class="image-title-wrap">
                  <button type="button" onclick="removeUpload('input-image')" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                </div>
              </div>
            </div>
          </div>

          <div class="panel">
            <header class="panel__header">
              <h2 class="panel__title"><b>Great!</b> Now pick the eyes you want 👀</h2>
              <!-- <p class="panel__subheading">No pictures of yourself? Don't worry you can use one these samples</p> -->
            </header>

            <div id="target-image" class="file-upload">
              <div class="image-upload-wrap">
                <input class="file-upload-input" type='file' onchange="readPictureURL(this, 'target-image');" accept="image/*" />
                <div class="drag-text">
                  <p>Drag and drop a file or click to add image</p>
                </div>
              </div>
              <div class="file-upload-content">
                <img class="file-upload-image" src="#" alt="your image" />
                <div class="image-title-wrap">
                  <button type="button" onclick="removeUpload('target-image')" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                </div>
              </div>
            </div>
          </div>

          <div class="panel">
            <header class="panel__header">
              <h2 id="status-title" class="panel__title">Processing...</h2>

              <div id="loader">
                <div class="loader">Loading...</div>
              </div>
              <div id="status">
                <i class="far fa-sad-tear"></i>
                <h6></h6>
              </div>
              <div id="processed-result" class="row align-items-end">
                <div class="col-sm"><img class="input-image" src="" alt=""><b>+</b></div>
                <div class="col-sm"><img class="target-image" src="" alt=""><b>=</b></div>
                <div class="col-sm"><img id="processed-image"></div>
              </div>
            </header>

          </div>
        </form>

        <div class="wizard__footer">
          <button class="button previous">Previous</button>
          <button class="button next">Next</button>
        </div>
      </div>

      <p class="wizard__congrats-message">
      </p>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/951b0c7d25.js"></script>

  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static',    filename='app.js') }}"></script>
</body>
</html>